@import "tailwindcss";

@theme {
	--color-manila: #eda655;
	--color-ink: #111111;
	--font-family-aeonik: 'Aeonik', sans-serif;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/ar.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

body {
    --ink-black: #111111;
    --bg-manila: #eda655;
    --text-white: #FFFFFF;
    --accent-manila: #eda655;
}

