@import "tailwindcss";

@font-face {
	font-family: 'Aeonik';
	src: url('/ar.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

body {
    --ink-black: #111111;
    --bg-manila: #E3A857;
    --text-white: #FFFFFF;
    --accent-manila: #E3A857;
}