@import "tailwindcss";

@theme {
    --color-manila: #eda655;
    --color-ink: #111111;
    --font-family-aeonik: 'Aeonik', sans-serif;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/ar.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body {
    --ink-black: #111111;
    --bg-manila: #eda655;
    --text-white: #FFFFFF;
    --accent-manila: #eda655;
}

/* Used for the "paper" effect. */
.bg-grit {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.80' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 15 -7' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 200px 200px;
}